.title {
    text-align: center;
}

.term{

    border: solid 5px lightsalmon;
    text-align: center;
    margin-top : 100px ;
    margin: auto;
}

.definition{

    border: solid 5px lightgreen;
    text-align: center;
    margin-top: 100px;
    margin: auto;
}

button {
    text-align : top-left ;
    margin: auto;
    margin-left: 45px
}