.title {
    text-align: center;
}

.term{

    border: solid 5px lightsalmon;
    text-align: center;
    margin-top : 50px ;
    width: 25%;
    margin: auto;
}

.definition{

    border: solid 5px lightgreen;
    text-align: center;
    width: 25% ;
    margin-top: 50px;
    margin: auto;
}

button {
    text-align : top-left ;
    margin-right: 45px
}