
.flip-card {
    width: 900px;
    height: 400px;
    border: 5px solid transparent;
    perspective: 1000px; 
  }
  

  .flip-card-inner {
    position: relative;
    width: 900px;
    height: 400px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 900px;
    height: 400px;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  

  .flip-card-front {
    background-color: #24376A;
    color: black;
  }
  

  .flip-card-back {
    background-color: #354675;
    color: white;
    transform: rotateY(180deg);
  }

.bouton1 {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
 .bouton1:hover {background-color: #3e8e41}

 .button1:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.bouton2 {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
 .bouton2:hover {background-color: #3e8e41}
  
 .bouton2:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.bouton3 {
    padding: 15px 25px ;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
 }
  
 .bouton3:hover {background-color: #3e8e41}
  
 .bouton3:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .eappris {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #C74A1B;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.eappris:hover {background-color: #BE4011}
  
.eappris:active {
    background-color: #BE4011;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  .nappris {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #7F1904;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.nappris:hover {background-color: #500E00}
  
.nappris:active {
    background-color: #500E00;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }